{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <!-- https://datatables.net/examples/styling/bootstrap4 -->
    <div class="" role="table">
        <table id="example" class="table table-striped">
			<thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
			</thead>
			<tbody>
			    {% for stock in stocks %}
			    <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price | usd }}</td>
                    <td>{{ stock.sum | usd }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>CASH</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ cash | usd }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="total">{{ cashTotal | usd }}</td>
                </tr>
			</tbody>
		</table>
    </div>
{% endblock %}