{% extends "network/layout.html" %}
{% load static %}

{% block body %}


<div id="home_view" class="middle_cell">
    <h5 id="test"><strong>Home</strong></h5>
</div>
<div id="happening_form" class="middle_cell">
    <div class="row">

        <div class="col-1">
            <i class=" fa fa-user-circle fa-3x" aria-hidden="true"></i>
        </div>

        <!-- New post form -->
        <div class="col-11">
            <form action="{% url 'index' %}" method="post" id="upper_post_form" onsubmit="function submit_post();">
                {% csrf_token %}
                {{ post.content }}
                <br />
                <input type='submit' class="btn" id="upper_new_post" value="Post">
            </form>
        </div>

    </div>
</div>

<!-- All posts from the newest -->
<div class="rows_container">
    {% for post in page_obj %}
    <div><i class=" fa fa-user-circle fa-3x" aria-hidden="true"></i></div>
    <div>
        <span>@
            <a id="other_profile{{ post.id }}" class="user_link" href="{% url 'user_profile' post.user %}">
                {{ post.user }}
            </a>
            - posted on
            {{ post.timestamp }}
        </span>
        <p id="post_paragraph{{ post.id }}" class="post_paragraph">{{ post.content }}</p>
        {% if post.user == request.user %}
        <button class="post_edit" onClick="edit('{{ post.id }}')" id="post_button{{ post.id }}"><input
                id="input_id{{ post.id }}" type="hidden" value="{{ post.id }}">Edit</button>

        {% endif %}
        <div class="edit_div" id="edit_textarea{{ post.id }}">
            <form class="edit_like" id="edit_form{{ post.id }}">
                {% csrf_token %}
                <textarea id="edit_text{{ post.id }}" class="edit_textarea">{{ post.content }}</textarea><br />
                <button id="edit_button{{ post.id }}" class="edit_button" type=submit>Save</button>
            </form>
        </div>
        <div class="like_div">
            <form class="edit_like like_form" method="post">
                {% csrf_token %}
                <button class="like_button" id="like_button{{ post.id }}"
                    onClick="like('{{ post.id }}', '{{ request.user.id }}')" type="submit" name="place_like">
                    <i class="far fa-heart" aria-hidden></i>
                </button>
                <p id="count{{ post.id }}" class="like_count">{{ post.like_count }}</p>
            </form>
        </div>
        <hr />
    </div>

    {% endfor %}
</div>



{% endblock %}

{% block script %}
<script src="{% static 'network/post.js' %}"></script>
{% endblock %}