{% extends "layout.html" %}

{% block main %}

    <!-- https://datatables.net/examples/styling/bootstrap4 -->
    <div id="projectTable" class="table table-list" role="table">
        <h4 class="table-heading">MY PROJECTS</h4>
        <table id="example" class="table table-striped" style="width:100%">
			<thead>
                <tr>
                    <th>Name</th>
                    <th>Technology</th>
                    <th>Start Time</th>
                    <th>Due Time</th>
                    <th>Team</th>
                    <th>Status</th>
                </tr>
			</thead>
			<tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.technology }}</td>
                    <td>{{ project.start }}</td>
                    <td>{{ project.due }}</td>
                    <td>{{ project.team }}</td>
                    <td>{{ project.status }}</td>
                </tr>
                {% endfor %}
			</tbody>
		</table>
    </div>

{% endblock %}